.projects {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects > .project{
  margin: 40px 10px
}

@media screen and (max-width: 864px) {
  .projects {
    margin-top: 0;
  }
}