.header {
  display: flex;
  flex-wrap: wrap-reverse;
  padding: 3px 10px 0px 10px;
  justify-content: space-between;
  width: 100%;
}

.header__theme-toggle-wrapper {
  margin: 0 10px;
  padding: 2px;
}