.me {
  width: 100%;
  display: flex;
  justify-content: center;
}

.centerpiece {
  position: relative;
  margin-top: 100px;
  margin-left: -200px;
}

.centerpiece :nth-child(1){
  z-index: 1;
  position: absolute;
  top: -35px;
  left: -38px;
}

.centerpiece :nth-child(2){
  z-index: 2;
  position: absolute;
  top: -27px;
  left: 14px;
}

.centerpiece :nth-child(3){
  z-index: 2;
  position: absolute;
  top: -20px;
  left: 379px;
}

.centerpiece :last-child{
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 864px) {
  .centerpiece {
    margin-left: -20px;
  }
}

/* top: 384px;
left: 717px;

top: 349px;
left: 679px;

top: 357px;
left: 731px; 

top: 364px;
left: 1096px;*/