.me {
  width: 100%;
  display: flex;
  justify-content: center;
}

.centerpiece {
  position: relative;
  margin-top: 100px;
  margin-left: -200px;
}

.centerpiece > :nth-child(1){
  z-index: 1;
  position: absolute;
  top: -35px;
  left: -38px;
}

.centerpiece > :nth-child(2){
  z-index: 2;
  position: absolute;
  top: -27px;
  left: 14px;
}

.App[theme='light'] .centerpiece > :nth-child(2):before {
  content:url('/centerpiece/background2.svg')
}

.App[theme='dark'] .centerpiece > :nth-child(2):before {
  content:url('/centerpiece/background2 - white.svg')
}

.centerpiece > :nth-child(3){
  z-index: 2;
  position: absolute;
  top: -20px;
  left: 379px;
}

.App[theme='light'] .centerpiece > :nth-child(3):before {
  content:url('/centerpiece/JF.png')
}

.App[theme='dark'] .centerpiece > :nth-child(3):before {
  content:url('/centerpiece/JF - white.png')
}

.App[theme='light'] .centerpiece .icon > :first-child {
  border: 2px solid #2c2c2c;
}

.App[theme='dark'] .centerpiece .icon > :first-child {
  border: 2px solid #ffffff;
}

.App .centerpiece .icon > :first-child {
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  z-index: 4;
  width: 36px;
  height: 36px;
}

.App .centerpiece .icon > :last-child {
  position: absolute;
  width: 36px;
  height: 36px;
}

.App .centerpiece .icon:hover :first-child {
  border: 2px solid #c50000;
  transition: .3s;
}

.centerpiece > :nth-child(4) {
  left: 410px;
  top: 95px;
  position: absolute;
}

.App[theme='light'] .centerpiece > :nth-child(4) :last-child:before {
  content:url('/centerpiece/linkedin-small-dark.svg');
}

.App[theme='dark'] .centerpiece > :nth-child(4) :last-child:before {
  content:url('/centerpiece/linkedin-small-white.svg');
}

.centerpiece > :nth-child(5) {
  left: 410px;
  top: 143px;
  position: absolute;
}

.App[theme='light'] .centerpiece > :nth-child(5) :last-child:before {
  content:url('/centerpiece/github-small-dark.svg');
}

.App[theme='dark'] .centerpiece > :nth-child(5) :last-child:before {
  content:url('/centerpiece/github-small-white.svg');
}

.centerpiece > :last-child {
  position: relative;
  z-index: 5;
}

@media screen and (max-width: 864px) {
  .centerpiece {
    margin-left: -20px;
    margin-top: 4%;
  }

  .me {
    margin: 0 0 0 0;
    order: -1;
  }
}

/* top: 384px;
left: 717px;

top: 349px;
left: 679px;

top: 357px;
left: 731px; 

top: 364px;
left: 1096px;

top: 479px;
left: 1127px;*/