*, *::before, *::after {
  box-sizing: border-box;
}

.me {
  width: 25%;
  float: left;
  margin: 8px 12px 0 12px;
}


.full-name,
.bio,
.projects {
  padding: 0px 12px;
}

.full-name{
  margin-top: 4px;
}

@media screen and (max-width: 450px) {
  .me{
    width: 100%;
    display: block;
    margin: auto;
  }

  .full-name{
    margin-top: 0;
  }
}