*, *::before, *::after {
  box-sizing: border-box;
}

html, body, .App{
  height:100vh;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.me {
  width: 25%;
  float: left;
  margin: 8px 12px 0 12px;
}


.full-name,
.bio,
.projects {
  padding: 0px 12px;
}

.full-name{
  margin-top: 4px;
}

.top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.top > .project {
  margin-left: 195px;
}

@media screen and (max-width: 864px) {
  .top > .project {
    margin-left: 10px;
    margin-top: 10px;
  }

  html, body, .App{
    height: initial;
    overflow: initial;
  }
}
